<link rel="stylesheet" href="../public/style/edit_patient_record.css">

<div class = "patient_details_container">
        <div id="subtitle">
            <h3 style = "text-align: left;">Edit Health Data</h3>
        </div>

        <div id = "avatar" >
            <img src="../public/image/avatar/images.jpg" alt="user image">
            <figcaption id = "patient_name">{{patient.firstName}} {{patient.lastName}}</figcaption>
        </div>
        
        <div class="login_start_element" id = "notes">
            <table>
                <thead>
                    <tr>
                        <th style="text-align: center;">{{patient.firstName}} {{patient.lastName}}</th>
                        <th style="text-align: center;">Safety Threshold Min</th>
                        <th style="text-align: center;">Safety Threshold Max</th>
                        <th style="text-align: center;">Select</th>
                    <tr>
                </thead>
            
                <tbody>
                    <form action="/home/edit_details" method="POST">
                        <tr>
                            {{#each patient.records}}
                                {{#ifRecent this.recordDate}}
                                    {{#each this.data}}
                                        <td>{{this.fullName}}: </td>
                                        <td class="login_start_box" style="border-radius:45px;">this.valueMin</td>
                            
                                        <td class="login_start_box" style="border-radius:45px;">this.valueMax</td>
                                        {{#ifUnrequired this.status}}
                                            <td><input type="checkbox" name="{{@key}}" id="select"></input></td>
                                        {{else}}
                                    {{!--  have to do some javascript to remain checked --}}
                                    {{/each}}
                                {{/ifRecent}}
                            {{/each}}
                            <td><button type="submit">save</button></td>
                            
                        </tr>

                    </form>
                </tbody>
            </table>
        </div>

    </div>  