<link rel="stylesheet" href="/public/style/patient_details(clinican).css">

<div class="patient_details_container">
    <div class="login_start_element" id="subtitle">
        <h4 style = "text-align: left;">
            <a href="/home/clinician_dashboard">Back to Dashboard</a></h4>
        
    </div>

    <div class="login_start_element"id="health_history">
        <h4>
            <a href="/home/health_history/{{patient._id}}">Patient health history</a>
        </h4>
    </div>

    <div class= "login_start_element"id="note_history">
        <h4>
            <a href="/home/note_history/{{patient._id}}">Clinical note history</a>
        </h4>

    </div>

    <div class = "login_start_element" id="notes">
        <table>
            <form action="/home/patient_details/{{patient._id}}" method="POST">
            <tr >
                <th>Patient name:</th>
                <td class="login_start_box" style="border-radius:45px;">{{patient.firstName}} {{patient.lastName}}</td>
            </tr>
            {{#if notes}}
            <tr>
                <th>LatestClinical Notes:</th>
                <td class="login_start_box" style="border-radius:45px;">{{notes.note}}</td>
            
            </tr>
            {{/if}}

            {{#if message}}
            <tr>
                <th>Latest Support message:</th>
                <td class="login_start_box" style="border-radius:45px;">{{message.message}}</td>
            </tr>
            {{/if}}

            <tr>
                <th>Add clinical notes:</th>
                <td class="login_start_box" style="border-radius:45px;"><input name="note"></td>
                <td  style="border-radius:45px; width:5vw;">  <button type="submit">save</button></td>
            </tr>


            <tr>
                <th>Update support message:</th>
{{!--                 <input type ="hidden" name="id" value="{{patient._id}}">
 --}}                <td class="login_start_box" style="border-radius:45px;"><input name="supportMsg"></td>
                <td  style="border-radius:45px; width:5vw;">  <button type="submit">save</button></td>
            </tr>


            </form>
        </table>
    </div>

    <div class="login_start_element" id = "data">
        <table>
            <thead>
                <tr>
                    <th>Health data</th>
                    <th>Today's data</th>
                    <th>Safety thresholds (MIN)</th>
                    <th>Safety thresholds (MAX)</th>

                <tr>
            </thead>
            
            <tbody>
                {{#each record.data}}
                
                <tr>
                    {{#ifRequired this.status}}
                        {{#ifRecorded this.status}}
                            {{#ifAbnormal this.valueMin this.valueMax this.value}}
                                <td class="login_start_box" id = "dangerous" >{{this.fullName}}: </td>
                                <td class="login_start_box" style="border-radius:45px;">{{this.value}}</td>
                
                            {{else}}
                                <td class="login_start_box safe" id ="safe" >{{this.fullName}}: </td>
                                <td class="login_start_box" style="border-radius:45px;">{{this.value}}</td>
                            {{/ifAbnormal}}
                                
                            
                        {{/ifRecorded}}

                        {{#ifUnrecorded this.status}}
                            <td class="login_start_box" id = "safe" style="background-color:#F0F0F0" >{{this.fullName}}: </td>
                            <td class="login_start_box" id = "safe" style="background-color:#F0F0F0" > </td>

                        {{/ifUnrecorded}}
                            
                        <td class="login_start_box" style="border-radius:45px;">{{this.valueMin}}</td>
                        <td class="login_start_box" style="border-radius:45px;">{{this.valueMax}}</td>
                    {{/ifRequired}}
                </tr>
                {{/each}}
            
                
            </tbody>

        </table>
    </div>

    <div class="login_start_element login_start_box" id="edit">
        <a  href = '/home/edit_details/{{patient._id}}'>edit</a>
    </div>

</div>
