<link rel="stylesheet" href="../public/style/edit_patient_record.css">

{{> p-top-nav}}

<div class = "patient_details_container">
        <div id="subtitle">
            <h3 style = "text-align: left;">Recording Health Data</h3>
        </div>

        <div id="health_history">
            <h4>
                <a href="#">History of Recording</a>
            </h4>
        </div>

        <div id = "avatar" >
            <img src="../public/image/avatar/images.jpg" alt="user image">
            <figcaption id = "patient_name">{{record.patientId.screenName}}</figcaption>
        </div>
        
        <div class="login_start_element" id = "notes">
            <table>
                <thead>
                    <tr>
                        <th style="text-align: center;">Today's data</th>
                        <th style="text-align: center;">Value</th>
                        <th style="text-align: center;">Comments</th>
                    <tr>
                </thead>
            
                <tbody>
                    {{!-- loop each patient data  --}}
                    {{#each record.data}}
                    <form action="/home/record_health_data" method="POST">

                    <tr>
                        {{!-- print record name --}}
                        <input type="hidden" name="key" value="{{@key}}">
                        {{#ifRequired this.status}}
                            <td>{{this.fullName}}</td>

                            {{#ifUnrecorded this.status}}
                            {{!-- input data if not already in database --}}
                                <td class="login_start_box" style="border-radius:45px;">
                                    <input type="number" name="value" required>
                                </td>
                            {{else}}
                                <td class="login_start_box" style="border-radius:45px;">{{this.value}}</td>
                            {{/ifUnrecorded}}
                            
                        {{!--  input comment for unrecorded data  --}}
                            {{#ifUnrecorded this.status}}
                            
                                <td class="login_start_box" style="border-radius:45px;">
                                    <input type="text" name="comment" >
                                </td>
                            {{else}}
                                <td class="login_start_box" style="border-radius:45px;">{{this.comment}}</td>
                            {{/ifUnrecorded}}

                            {{!-- show submit button if unrecorded else show recorded time --}}
                            {{#ifUnrecorded this.status}}
                                <td> <button type="submit"> submit </td>
                            {{else}}
                                <td> {{this.createdAt}} </td>
                            {{/ifUnrecorded}}
                        {{/ifRequired}}
                    </tr>
                    </form>
                    {{/each}}
                </tbody>
            </table>
        </div>

    </div>